<p-messages [(value)]="messagesToast"></p-messages>
<p *ngIf="message" class="error-text" style="color: red;">
    {{ message }}
</p>

<section class="warper">
    <div class="left">
        <!-- Logo -->
        <div class="logo">
            <img src="../../../assets/logoRegister.png" alt="">
        </div>
        <!-- Banner -->
        <img src="../../../assets/Api.png" alt="" class="banner">
        <!-- icon -->
        <div class="icon">
            <img src="../../../assets/Google.png" alt="">
            <img src="../../../assets/apple.png" alt="">
            <img src="../../../assets/fb.png" alt="">
        </div>
        <!-- Or Continue with -->
        <div class="or">Or Continue with</div>
        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="register()">
            <input type="text" formControlName="useName" placeholder="Tên tài khoản">
            <div class="message">
                <div *ngIf="form.get('useName')?.errors?.['required'] && form.controls.useName.touched">
                    Tên tài khoản không được để trống
                </div>
            </div>
            <input type="text" formControlName="email" placeholder="Email">
            <div class="message">
                <div *ngIf="form.get('email')?.errors?.['required'] && form.controls.email.touched">Email không được để
                    trống
                </div>
                <div *ngIf="form.get('email')?.errors?.['email'] && form.controls.email.touched">Email phải đúng định
                    dạng
                </div>
            </div>
            <input type="text" formControlName="password" placeholder="Mật khẩu (tối thiểu 6 kí tự)">
            <div class="message">
                <div *ngIf="form.get('password')?.errors?.['required'] && form.controls.password.touched">Mật khẩu không
                    được để trống</div>
                <div *ngIf="form.get('password')?.errors?.['minlength'] && form.controls.password.touched">Mật khẩu tối
                    thiểu 6 kí tự</div>
            </div>
            <!-- Agree -->
            <div class="iAgree">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">I agree to the Terms of Service, General Terms and Conditions and Privacy
                    Policy.</label>
            </div>
            <!-- Button -->
            <button type="submit" class="register">Sign Up</button>
        </form>
    </div>
    <!--  -->
    <div class="right">
        <img src="../../../assets/right1.png" alt="" class="img__Right">
        <img src="../../../assets/right2.png" alt="" class="img__Right">
        <img src="../../../assets/right3.png" alt="" class="img__Right">
        <img src="../../../assets/Union.png" alt="" class="Union">
        <img src="../../../assets/Union2.png" alt="" class="Union2">
    </div>
</section>