.wrapper {
  margin: 70px 0;
}

.content {
  display: grid;
  grid-template-columns: 45% 55%;
  column-gap: 60px;
}

.imgProduct {
  display: block;
  width: 370px;
  height: 310px;
  object-fit: cover;
  margin: 0 auto;
}

.left {
  width: 100%;
  background: #e1dddd;
  border-radius: 10px;
  height: 310px;
  padding: 10px 0px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.title,
.price {
  color: var(--Text-Color-Dark, #131717);
  font-size: 30px;
  font-weight: 600;
  line-height: 38px; /* 126.667% */
}

.price {
  margin: 20px 0;
  color: red;
}

.title__description {
  color: var(--Black, #2d2d2d);
  font-size: 19px;
  font-weight: 500;
  line-height: 19px; /* 100% */
}

.content__description {
  margin-top: 10px;
  color: var(--Black-100, #676562);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.buy {
  width: 175px;
  height: 58px;
  border-radius: 50px;
  background: var(--Yellow, #f7d047);
  color: var(--Black, #2d2d2d);
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  line-height: 19px; /* 100% */
  margin: 30px 0 19px 0;
  cursor: pointer;
}

/* Bid */
.bidUi {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bidPrice {
  background: transparent;
  border: 1px solid #8c7f55;
  border-radius: 5px;
  padding: 10px;
}

.bidButton {
  margin-top: 15px;
  font-size: 13.5px;
  font-weight: 600;
  background-color: #f7d047;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.winer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--Black, #2d2d2d);
  font-size: 19px;
  font-weight: 500;
  line-height: 19px;
  margin: 10px 0;
}

.listBids {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
}
