.wrapper {
  width: 100%;
}

h2 {
  color: #2d2d2d;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 54px; /* 108% */
  margin-top: 40px;
}

form {
  margin: 50px 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Khoảng cách giữa các ô, tùy chọn */
}

.form .input:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  flex-shrink: 0;
  background: var(--White, #fff);
  input {
    color: var(--Black-100, #676562);
    font-size: 14px;
    font-weight: 500;
  }
}

select {
  width: 60px;
}

.message {
  color: red;
  margin-top: 15px;
}

.btn {
  margin-top: 10px;
}

label {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.check,
.check__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.check {
  gap: 20px;
}

textarea{
  outline: none;
  border: none;
}

label{
  margin-bottom: 5px;
}