<div class="wrapper">
    <section>
        <h2>Thêm sản phẩm</h2>

        <!-- Hiển thị thông báo -->
        <p-messages [(value)]="messages"></p-messages>
        <p *ngIf="errorMessage" class="error-text" style="color: red;">
            {{ errorMessage }}
        </p>

        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form">
                <div class="input">
                    <label for="name">tên sản phẩm</label>
                    <input type="text" id="name" placeholder="First name" formControlName="title">
                    <div class="message">
                        <div *ngIf="form.get('title')?.errors?.['required'] && form.controls.title.touched">Tên không
                            được để trống.</div>
                        <div *ngIf="form.get('title')?.errors?.['minlength'] && form.controls.title.touched">Tên Phải có
                            ít nhất 5 kí tự.</div>
                    </div>
                </div>

                <div class="input">
                    Mô tả
                    <textarea name="desc" formControlName="desc" id=""></textarea>
                    <!-- <input type="text" placeholder="Description" formControlName="desc"> -->
                    <div class="message">
                        <div *ngIf="form.get('desc')?.errors?.['required'] && form.controls.desc.touched">Mô tả không
                            được để trống.</div>
                        <div *ngIf="form.get('desc')?.errors?.['minlength'] && form.controls.desc.touched">Mô tả Phải có
                            ít nhất 6 kí tự.</div>
                    </div>
                </div>

                <div class="input">
                    <label for="image">Ảnh sản phẩm</label>
                    <input type="text" id="image" placeholder="Image" formControlName="image">
                    <div class="message">
                        <div *ngIf="form.get('image')?.errors?.['required'] && form.controls.image.touched">Ảnh không
                            được để trống.</div>
                    </div>
                </div>

                <div class="input">
                    <label for="price">Giá sản phẩm</label>
                    <input type="number" id="price" placeholder="Price" formControlName="price">
                    <div class="message">
                        <div *ngIf="form.get('price')?.errors?.['min'] && form.controls.price.touched">Giá phải lớn hơn
                            0.</div>
                    </div>
                </div>

                <div class="input">
                    <div class="check">
                        <label for="name">Is show: </label>
                        <div class="check__item">
                            <input type="radio" name="isShow" id="is__True" formControlName="isShow" value="True">
                            <label for="is__True">True</label>
                        </div>
                        <div class="check__item">
                            <input type="radio" name="isShow" id="is__False" formControlName="isShow" value="False">
                            <label for="is__False">False</label>
                        </div>
                    </div>

                    <div class="message">
                        <div *ngIf="form.get('category')?.errors?.['required'] && form.controls.category.touched">Phải
                            chọn
                        </div>
                    </div>
                </div>

                <div class="input">
                    <p style="padding: 10px 0;">Danh mục</p>
                    <select name="category" formControlName="category">
                        <option value="">Chọn</option>
                        <option *ngFor="let categories of category " [value]="categories._id">{{categories.name}}
                        </option>
                    </select>
                    <div class="message">
                        <div *ngIf="form.get('category')?.errors?.['required'] && form.controls.category.touched">Phải
                            chọn
                        </div>
                    </div>
                </div>

                <div class="input">
                    <label for="startTime">Thời gian bắt đầu</label>
                    <input type="datetime-local" id="startTime" placeholder="Start Time" formControlName="startAt">
                </div>

                <div class="input">
                    <label for="times" class="form-label">Select Times</label>
                    <select class="form-control" id="times" formControlName="bidTime">
                        <option value="">Select Time</option>
                        <option value="15">15p</option>
                        <option value="30">30p</option>
                        <option value="60">1h</option>
                    </select>
                </div>
            </div>
            <div class="btn">
                <app-button [title]="'Thêm'" disabled="onSubmit.invalid"></app-button>
            </div>
        </form>
    </section>
</div>